html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header {
  background-image: url(../assets/image/header.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  font-stretch: normal;
  line-height: 0.54;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 767.98px) {
  .header__title {
    font-size: 3em;
  }
}
.header__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.18;
  letter-spacing: 5.3px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0px 20px 0px;
}
.header__search {
  background: #ffffff;
  justify-content: center;
  display: inline-flex;
  margin: 10% 0 0;
  width: 100%;
}
@media (min-width: 767.98px) {
  .header__search {
    width: 60%;
  }
}
@media (max-height: 820px) {
  .header__search {
    margin: 5% 0 5% 0;
  }
}
.header__search input {
  height: 60px;
  outline: none;
  border: none;
  flex: 1 1 auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  cursor: pointer;
  color: #999999;
  letter-spacing: 0px;
}
@media (min-width: 369.98px) {
  .header__search input {
    letter-spacing: 1.8px;
  }
}
@media (min-width: 767.98px) {
  .header__search input {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .header__search input {
    font-size: 18px;
  }
}
.header__search button {
  width: 17%;
  background-color: #5474fd;
  cursor: pointer;
  font-family: "Aleo", serif;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  border: solid 1px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .header__search button {
    width: 37%;
  }
}
.header__search button p {
  display: none;
}
@media (min-width: 767.98px) {
  .header__search button p {
    display: block;
  }
}
.header__search button:hover {
  background-color: #cacfe6;
  color: #5474fd;
  border: 1px solid #5474fd;
  transition-duration: 0.6s;
}
.header__search button:hover path {
  fill: #5474fd;
  transition-duration: 0.6s;
}
.header__icon {
  margin-left: 0px;
}
@media (min-width: 767.98px) {
  .header__icon {
    margin-left: 7px;
  }
}
.header__navy_wrapper {
  width: 100%;
  height: 7%;
  background-color: #5474fd;
}
.header__navy {
  width: 100%;
  height: 7%;
  background-color: #5474fd;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
@media (min-width: 767.98px) {
  .header__navy {
    display: flex;
    height: 62px;
  }
}
@media (max-height: 820px) {
  .header__navy {
    height: 62px;
  }
}
.header__menu {
  display: flex;
}
.header__menu a {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 0 26px;
  white-space: nowrap;
}
.header__menu a:hover,
.header li:hover {
  color: #333333;
  transition-duration: 0.6s;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-transform: uppercase;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35% 0 5% 0;
}
@media (min-width: 991.98px) {
  .scroll {
    margin: 20% 0 3% 0;
  }
}
.scroll p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

.bg-scroll {
  width: 15px;
  height: 8px;
  background: url("../assets/icon/css_sprites.png") -88px -91px;
  margin-top: 5px;
  cursor: pointer;
}

.wrap__cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

#menuToggle {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 20px;
}
@media (min-width: 767.98px) {
  #menuToggle {
    display: none;
  }
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

#menuToggle span {
  width: 33px;
  height: 2px;
  margin: 4px 0;
  background: #999999;
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 1px -2px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #0c2461;
  transform: rotate(40deg) translate(5px);
}

#menuToggle input:checked ~ #span2 {
  background-color: #0c2461;
  transform: rotate(495deg) translate(3px);
}

#menuToggle input:checked ~ #span3 {
  background-color: #0c2461;
  transform: rotate(45deg);
  opacity: 0;
}

.who-choose-us {
  background-image: url(../assets/image/why-bg.jpg);
  background-position: bottom;
  background-size: cover;
  height: 75%;
}
.who-choose-us__row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.who-choose-us__item {
  width: 100%;
}
.who-choose-us__title {
  font-family: "Aleo", serif;
  font-size: 2.25em;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 207px 0px 65px 0px;
}
.who-choose-us__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.65px;
  text-align: left;
  color: #e8e8e8;
  margin: 0px 62px 0px 0px;
}
.who-choose-us__btn {
  width: 225px;
  height: 60px;
  font-size: 16px;
  background-color: #5474fd;
  background-image: url(../assets/image/Rectangle.png);
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Aleo", serif;
  text-align: center;
  transition-duration: 0.4s;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.3px;
  margin-top: 40px;
}
.who-choose-us__btn:hover {
  transform: scale(0.95);
  background-color: #ffffff;
  color: #5474fd;
  background-image: none;
}
.who-choose-us__image {
  display: none;
}
@media (min-width: 767.98px) {
  .who-choose-us__image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.who-choose-us__picture1 {
  margin: 0px 0px -230px 4px;
}
.who-choose-us__picture2 {
  align-self: flex-end;
}

.picture {
  width: 350px;
  height: 220px;
}

.how-it-works {
  background-color: #333333;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-it-works__pic {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
}
@media (min-width: 767.98px) {
  .how-it-works__pic {
    flex-direction: row;
    height: 100%;
  }
}
.how-it-works__pic li {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how-it-works__pic li:hover {
  transform: scale(1.05);
  transition-duration: 0.4s;
  cursor: pointer;
}

.desc {
  font-family: "Aleo", serif;
  font-size: 2.25em;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: center;
  color: #e8e8e8;
  margin: 39px 0px 0px 0px;
}

.bg-search_big {
  width: 58px;
  height: 57px;
  background: url("../assets/icon/css_sprites.png") -10px -91px;
  cursor: pointer;
}

.bg-select {
  width: 60px;
  height: 61px;
  background: url("../assets/icon/css_sprites.png") -10px -10px;
  cursor: pointer;
}

.bg-like {
  width: 62px;
  height: 59px;
  background: url("../assets/icon/css_sprites.png") -90px -10px;
  cursor: pointer;
}

.ellipse {
  position: absolute;
  top: 47px;
  left: 168px;
}

.section__card {
  width: 540px;
  height: 371px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 50px 30px 0px 30px;
}
.section__lead {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-align: left;
  color: #e8e8e8;
}
.section__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  letter-spacing: normal;
  text-align: left;
  letter-spacing: -0.9px;
  color: #e8e8e8;
  text-transform: uppercase;
  padding: 30px 0px 20px 0px;
}
.section__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -1.1px;
  text-align: left;
  color: #e8e8e8;
}
.section__btn {
  width: 225px;
  height: 60px;
  font-size: 16px;
  background-color: #5474fd;
  background-image: url(../assets/image/Rectangle.png);
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Aleo", serif;
  text-align: center;
  transition-duration: 0.4s;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.3px;
  margin-top: 45px;
}
.section__btn:hover {
  transform: scale(0.95);
  background-color: #ffffff;
  color: #5474fd;
  background-image: none;
}
.section__block1 {
  background-image: url(../assets/image/section-bg1.jpg);
  background-position: bottom;
  background-size: cover;
  height: 700px;
}
.section__block2 {
  background-image: url(../assets/image/section-bg2.jpg);
  background-position: bottom;
  background-size: cover;
  height: 700px;
}

.row1 {
  display: flex;
}

.card1 {
  margin-top: 229px;
}

.row2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card2 {
  margin-bottom: 100px;
}

.testimonial {
  background-image: url(../assets/image/testimonial-bg.jpg);
  background-position: bottom;
  background-size: cover;
  height: 731px;
}
.testimonial__row {
  display: flex;
  height: 284px;
  width: 100%;
  margin: 0px auto;
  padding: 0;
}
.testimonial__title {
  font-family: "Aleo", serif;
  font-size: 2.06em;
  text-align: center;
  letter-spacing: 1.65px;
  color: #ffffff;
  padding: 119px 0px 95px 0px;
}
.testimonial__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25em;
  letter-spacing: -0.6px;
  text-align: left;
  color: #e8e8e8;
  text-transform: uppercase;
  padding: 0px 0px 37px 0px;
}
.testimonial__text {
  text-indent: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  line-height: 1.63;
  letter-spacing: -1.2px;
  text-align: justify;
  color: #e8e8e8;
}
.testimonial__text i {
  position: absolute;
  top: 100px;
  left: 32px;
}
.testimonial__photo {
  display: none;
}
@media (min-width: 767.98px) {
  .testimonial__photo {
    width: 40%;
  }
}
.testimonial__item {
  width: 60%;
  padding: 51px 55px 46px 60px;
  position: relative;
  background-color: #333333;
}

q {
  font-size: 20px;
  color: #5474fd;
}

.footer {
  background-color: #232323;
  height: 268px;
}
.footer__column {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  margin: 70px 0px 6px 0px;
  letter-spacing: 2.22px;
}
.footer__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  line-height: 1.63;
  letter-spacing: 0.63px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 25px 0px;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 167px;
}
.footer__icon i:hover {
  color: #5474fd;
  transform: scale(1.2);
  transition-duration: 0.4s;
}
.footer__icon a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

body {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1110px;
}

.who-wrapper {
  width: 100%;
  height: 100vh;
}