.header {
  background-image: url(../assets/image/header.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 820px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;

  @include laptop {
    height: 100vh;
  }
  @include tablet {
    height: 100vh;
  }
  @include mobile {
    height: 100vh;
  }

  .column {
    margin-top: 280px;

    @include laptop {
      margin-top: 435px;
    }
    @include tablet {
      margin-top: 320px;
    }
    @include mobile {
      margin-top: 200px;
    }
  }

  &__title {
    font-family: $font_josefinSans;
    font-size: 3em;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.54;
    letter-spacing: 2.8px;
    text-align: center;
    color: $color__main_white;
    text-transform: uppercase;

    @include tablet {
      font-size: 1.5em;
    }
    @include mobile {
      font-size: 1.5em;
      text-align: left;
      padding: 0px 0px 50px 50px;
    }
  }

  &__subtitle {
    font-family: $font_josefinSans;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.18;
    letter-spacing: 5.3px;
    text-align: center;
    color: $color__main_white;
    padding: 15px 0px 50px 0px;

    @include tablet {
      font-size: 1em;
      padding: 15px 0px 50px 0px;
    }
    @include mobile {
      font-size: 1em;
      text-align: left;
      padding: 15px 0px 50px 50px;
    }
  }

  &__search {
    background: $color__main_white;
    justify-content: center;
    display: inline-flex;
    margin: -4px 0px 122px 0px;
  }

  &__search input {
    width: 500px;
    height: 60px;
    outline: none;
    border: none;
    flex: 1 1 auto;
    font-family: $font_josefinSans;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 1.8px;
    padding-left: 19px;
    text-align: center;
    cursor: pointer;
    color: $color__main_light-grey;

    @include tablet {
      width: 270px;
      font-size: 12px;
    }
    @include mobile {
      width: 150px;
      font-size: 10px;
    }
  }

  &__search button {
    width: 150px;
    height: 60px;
    background-color: $color__main_blue;
    cursor: pointer;
    font-family: $font_aleo;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 1.4px;
    text-align: center;
    padding: 17px 18px 17px 24px;
    color: $color__main_white;
    text-transform: uppercase;
    outline: none;
    border: solid 2px $color__main_white;

    @include tablet {
      width: 138px;
      font-size: 12px;
    }
    @include mobile {
      width: 100px;
      font-size: 12px;
      padding: 17px 0px 17px 0px;
    }
  }

  &__search button:hover {
    background-color: $color__main_white;
    color: $color__main_blue;
    border: 1px solid $color__main_blue;
  }

  &__icon {
    float: right;
    margin-top: 1px;
  }

  &__search:hover path {
    fill: $color__main_blue;
  }

  &__navy_wrapper {
    width: 100%;
    height: 80px;
    background-color: $color__main_blue;

    @include mobile {
      display: none;
    }
  }

  &__navy {
    width: 100%;
    height: 100%;
    background-color: $color__main_blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include laptop {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  &__menu {
    display: flex;
  }
  &__menu a {
    text-decoration: none;
    font-family: $font_aleo;
    font-size: 14px;
    font-weight: normal;
    color: $color__main_white;
    text-transform: uppercase;
    margin: 0px 0px 0px 43px;
  }
  &__menu a:hover,
  li:hover {
    text-shadow: $shadow_blue;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
}

.logo {
  font-family: $font_josefinSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.2px;
  color: $color__main_white;
  text-transform: uppercase;
}

.scroll {
  font-family: $font_josefinSans;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: $color__main_white;
}

.bg-scroll {
  width: 15px;
  height: 8px;
  background: url("../assets/icon/css_sprites.png") -88px -91px;
  margin: 9px 0px 0px 317px;
  cursor: pointer;

  @include tablet {
    margin: 5px 0px 0px 198px;
  }
  @include mobile {
    margin: 5px 0px 0px 152px;
  }
}

.wrap__cont {
  flex: 1 1 auto;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

// Menu burger

#menuToggle {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 15px;
  @include desktop {
    display: none;
  }
}

#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

#menuToggle span {
  width: 55px;
  height: 6px;
  margin-bottom: 10px;
  background: $color__main_light-grey;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #0c2461;
  transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
  background-color: #0c2461;
  transform: rotate(495deg) translate(4px);
}
#menuToggle input:checked ~ #span3 {
  background-color: #0c2461;
  transform: rotate(45deg);
  opacity: 0;
}
