.how-it-works {
  background-color: $color__main_dark-grey;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__pic {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    @media (min-width: $md3+px) {
      flex-direction: row;
      height: 100%;
    }

    // justify-content: space-between;
    // align-items: center;
    // padding: 0px 44px 12px 68px;

    // @include tablet {
    //   font-size: 2em;
    //   flex-direction: column;
    //   justify-content: space-around;
    // }
    // @include mobile {
    //   font-size: 2.25em;
    //   flex-direction: column;
    //   justify-content: space-around;
    // }
  }

  &__pic li{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__pic li:hover {
    transform: scale(1.05);
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

.desc {
  font-family: $font_aleo;
  font-size: 2.25em;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: center;
  color: $color__main_milk;
  margin: 39px 0px 0px 0px;
}

.bg-search_big {
  width: 58px;
  height: 57px;
  background: url("../assets/icon/css_sprites.png") -10px -91px;
  cursor: pointer;
}

.bg-select {
  width: 60px;
  height: 61px;
  background: url("../assets/icon/css_sprites.png") -10px -10px;
  cursor: pointer;
}

.bg-like {
  width: 62px;
  height: 59px;
  background: url("../assets/icon/css_sprites.png") -90px -10px;
  cursor: pointer;
}
.ellipse {
  position: absolute;
  top: 47px;
  left: 168px;

  // @include laptop {
  //   display: none;
  // }
  // @include tablet {
  //   display: none;
  // }
  // @include mobile {
  //   display: none;
  // }
}
