//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: 1200;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$md5: 369.98;

