
$font_aleo: 'Aleo', serif;
$font_josefinSans: 'Josefin Sans', sans-serif;


$color__main_white: #ffffff;
$color__main_milk: #e8e8e8;
$color__main_blue: #5474fd;
$color__main_grey: rgba(35, 35, 35, 0.9);
$color__main_dark-grey: #333333;
$color__main_light-grey:#999999;
$color__grey-footer: #232323;

$shadow_red: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
$shadow_blue: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
